In [1]:
import pandas as pd

In [10]:
catalog_df = pd.read_csv('../src/data/catalog.csv')
catalog_df['release_date'] = pd.to_datetime(catalog_df['release_date'], errors='coerce')
catalog_df['brand'] = catalog_df['brand'].astype('category')
catalog_df['category'] = catalog_df['category'].astype('category')
catalog_df['subcategory'] = catalog_df['subcategory'].astype('category')
catalog_df['color'] = catalog_df['color'].astype('category')
catalog_df.head()

,product_id,name,category,subcategory,price,quality_score,brand,color,popularity,release_date,description
0,1,Chair TO##,Home,Chair,17.17,0.834,BrandG,White,76,2025-04-30,Send situation town sea media wonder party fee...
1,2,Perfume MX##,Beauty,Perfume,64.88,0.985,BrandL,White,92,2025-04-21,Radio sense leave real knowledge four institut...
2,3,Tennis Racket MS##,Sports,Tennis Racket,23.49,0.717,BrandL,Green,70,2024-06-14,World article describe answer economy enjoy do...
3,4,Novel PB##,Books,Novel,81.27,0.112,BrandI,Black,27,2023-11-12,Dog reflect explain program check letter possi...
4,5,Lamp BA##,Home,Lamp,28.42,0.029,BrandE,Black,17,2025-05-17,Stand guy argue interesting hot magazine any l...

In [11]:
catalog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     250 non-null    int64
 1   name           250 non-null    object
 2   category       250 non-null    category
 3   subcategory    250 non-null    category
 4   price          250 non-null    float64
 5   quality_score  250 non-null    float64
 6   brand          250 non-null    category
 7   color          250 non-null    category
 8   popularity     250 non-null    int64
 9   release_date   250 non-null    datetime64[ns]
 10  description    250 non-null    object
dtypes: category(4), datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 16.7+ KB

In [12]:
catalog_df.describe()

,product_id,price,quality_score,popularity,release_date
count,250.000000,250.000000,250.000000,250.0000,250
mean,125.500000,40.911480,0.525812,62.7960,2024-06-06 10:50:52.800000
min,1.000000,4.010000,0.001000,12.0000,2023-06-07 00:00:00
25%,63.250000,18.557500,0.259750,42.0000,2023-12-14 00:00:00
50%,125.500000,30.140000,0.530500,65.0000,2024-06-11 00:00:00
75%,187.750000,51.830000,0.790500,83.0000,2024-12-05 18:00:00
max,250.000000,196.450000,1.000000,110.0000,2025-05-20 00:00:00
std,72.312977,32.573108,0.289574,24.0136,NaN